.rightbar {
  flex: 3;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  overflow-y: scroll;
  scroll-snap-type: y proximity;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #cacaca;
    border-radius: 5px;
  }

  .rightbarWrapper {
    padding: 20px 10px 0 0;

    .birthdayContainer {
      display: flex;
      align-items: center;
      gap: 10px;

      .birthdayImg {
        width: 30px;
      }
      .birthdayText {
        font-weight: 300;
        font-size: 15px;
      }
    }
    .friendListContainer {
      margin-top: 5px;

      .headerTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .rightbarTitle {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .rightbarInfo {
      margin-bottom: 20px;

      .rightbarInfoItem {
        margin-bottom: 5px;

        .rightbarInfoKey {
          font-weight: 500;
          margin-right: 5px;
          color: #555;
        }
        .rightbarInfoValue {
          font-weight: 300;
        }
      }
    }
    .rightbarFollowings {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .rightbarFollowing {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        .rightbarFollowingImg {
          height: 90px;
          width: 90px;
          object-fit: cover;
          border-radius: 5px;
          margin-bottom: 3px;
          cursor: pointer;
        }
        .rightbarFollowingName {
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }
}
