.rightbar {
  flex: 3;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  overflow-y: scroll;
  scroll-snap-type: y proximity;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #cacaca;
    border-radius: 5px;
  }

  .rightbarWrapper {
    padding: 20px 10px 0 0;

    .birthdayContainer {
      display: flex;
      align-items: center;
      gap: 10px;

      .birthdayImg {
        width: 30px;
      }
      .birthdayText {
        font-weight: 300;
        font-size: 15px;
      }
    }
    .friendListContainer {
      margin-top: 5px;

      .headerTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
